<% odds = (0...8).to_a + (16...24).to_a + (32...40).to_a + (48...56).to_a %>
<% if square.has_been_visited? %>
  <% bg_class = "bg-red-200" %>
<% elsif odds.include?(index) %>
  <% bg_class = index.even? ? "bg-slate-100" : "bg-slate-500" %>
<% else %>
  <% bg_class = index.odd? ? "bg-slate-100" : "bg-slate-500" %>
<% end %>

<div class="w-24 h-24 flex items-center justify-center text-5xl border border-gray-400 <%= bg_class %>" data-turbo-prefetch="false">
  <%= link_to_if legal_square, "", squares_path(location: { x: square.x, y: square.y }), class: "w-full h-full bg-emerald-300" do %>
    <% if square.has_knight? %>
      ♞
    <% end %>
  <% end %>
</div>
